<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Profile User'}) %> 
<body>
   <h1>Profile</h1>
   <form action="/profile/<%= id %>" method="post">
    <label>Email</label><br>
    <input type="text" name="email" id="email"><br>
    <label>Password</label><br>
    <input type="password" name="password" id="password"><br>
    <input type="submit" value="Register"><br>
    <% if(emailstatus) { %>
    <p style="color: red;">email sudah terdaftar</p>
    <% } %>  
</form>
</body>
</html>